.container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;/*espaçamento de linhas e colunas*/
    justify-items: stretch;
    grid-template-areas: "item-1 item-1 item-1" "item-2 item-2 item-3" "item-4 item-5 item-3" "item-6 item-6 item-6";
}

.itens{
    background-color: green;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.item-1{
    grid-area: item-1;
}

.item-2{
    grid-area: item-2;
}

.item-3{
    grid-area: item-3;
}

.item-4{
    grid-area: item-4;
}

.item-5{
    grid-area: item-5;
}

.item-6{
    grid-area: item-6;
}


